---
import HeroSection from '../components/HeroSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
import ModelSection from '../components/ModelSection.astro';
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<LandingHeader />
	
	<main class="relative w-full h-screen overflow-auto snap-y snap-mandatory scroll-smooth">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ModelSection />
		</div>
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ModelSection />
		</div>
		
	</main>
</Layout>